.container:hover .top:before,
.container:hover .top:after,
.container:hover .bottom:before,
.container:hover .bottom:after,
.container:active .top:before,
.container:active .top:after,
.container:active .bottom:before,
.container:active .bottom:after {
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay: 0s;
}

.container:hover .center,
.container:active .center {
    opacity: 1;
    transition-delay: 0.2s;
}

.container:hover .center h2,
.container:active .center h2 {
    margin-bottom: 5px;
}

.top:before,
.top:after,
.bottom:before,
.bottom:after {
    content: "";
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
}

.top:before {
    transform: rotate(45deg);
    background: #e46569;
}

.top:after {
    transform: rotate(135deg);
    background: #ecaf81;
}

.bottom:before {
    transform: rotate(-45deg);
    background: #60b8d4;
}

.bottom:after {
    transform: rotate(-135deg);
    background: #3745b5;
}

.center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;
}

.center input {
    width: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.login-button {
    --c: #e95a49;
    /* the color*/
    box-shadow: 0 0 0 0.004em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: var(--_g) calc(var(--_p, 0%) - 100%) 0%, var(--_g) calc(200% - var(--_p, 0%)) 0%, var(--_g) calc(var(--_p, 0%) - 100%) 100%, var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    outline-offset: 0.1em;
    transition: background-size 0.4s, background-position 0s 0.4s;
}

.login-button:hover {
    --_p: 100%;
    transition: background-position 0.4s, background-size 0s;
}

.login-button:active {
    box-shadow: 0 0 9000000000q inset #0009;
    background-color: var(--c);
    color: #fff;
}

.login-button {
    font-size: 16px;
    cursor: pointer;
    padding: 0.4em 0.6em;
    font-weight: bold;
    border: none;
    align-self: start;
    margin-top: 5px;
    width: 30%;
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 0.4em 0.6em;
    text-align: center;
    font-size: 16px;
    margin: 5px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}